<!DOCTYPE html>
<html>
<head>
  <title>Fallon Hanley</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="https://kit.fontawesome.com/63daf4012b.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <script type="text/javascript">
    var submit = function(token) {
      $('#contact-form').submit();
    };

    var onloadCallback = function() {
      grecaptcha.render('submit', {
        'sitekey' : '6Ld7DrIUAAAAAMbuOeSAoW_9PvBhf4x1DbuMGypG',
        'callback' : submit
      });

      $('#submit').prop('disabled', true);
    };
  </script>
</head>
<body>
  <header>
    <nav>
      <div class="navbar">
        <h1>Fallon Hanley</h1>
        <i class="fas fa-bars fa-2x" id="menu-icon"></i>
      </div>
      <ul>
        <li id="bio">Bio</li>
        <li id="experience">Experience</li>
        <li id="company">Bonafide Seed Co.</li>
        <li id="contact">Contact</li>
      </ul>
    </nav>
    <div class="hero-image">
      <div class="intro">
        <h1>Fallon Hanley</h1>
        <p>CEO & Consultant | Bonafide Seed Co.</p>
      </div>
    </div>
  </header>
  <main>
    <section class="bio">
      <div class="bio-content">
        <img class="bio-image" src="./images/headshot-right.jpg" alt="portrait image" />
        <div class="bio-text">
          <h2>Bio</h2>
          <p>Born in Raleigh, NC in the early 80's, my passion for the road less traveled was apparent. As soon as life allowed me to, I packed my bags and made my way to Colorado after high school and never looked back. Being in Colorado for 20 years now has allowed me to establish long standing relationships with many amazing people in all facets of business and life within the front range of Colorado.</p>
        </div>
      </div>
    </section>
    <section class="experience">
      <h2>Experience</h2>
      <article>
        <div class="timeline">
          <div class="circle"></div>
          <div class="line"></div>
        </div>
        <div class="experience-desc">
          <h3>CEO</h3>
          <div class="experience-info">
            <h4>Bonafide Seed Co.</h4>
            <h4>September 2018 – Current</h4>
          </div>
          <ul>
            <li>Co-owner tailoring seed products for hemp farmers that have high CBD to low THC ratios as well as regional specific genetics.</li>
            <li>Oversee the development of a remote farm in New Mexico for the purposes of feminized seed breeding.</li>
            <li>Sourced a host of notable superior hemp strains that we could begin our selection process with.</li>
            <li>Selected which plant out of hundreds was best suited to create seed on our property.</li>
          </ul>
      </div>
      </article>
      <article>
        <div class="timeline">
          <div class="circle"></div>
          <div class="line"></div>        
        </div>
        <div class="experience-desc">
          <h3>Production Consultant</h3>
          <div class="experience-info">
            <h4>Trill Alternatives</h4>
            <h4>August 2016 – October 2018</h4>
          </div>
          <ul>
            <li>Designed and built out a 15,000 square foot cannabis production facility for Trill Alternatives.</li>
            <li>I took a failing, low performing operation and, within six months, streamlined the process thereby producing 3 times prior results while lowering labor and other input costs.</li>
          </ul>
        </div>
      </article>
      <article>
        <div class="timeline">
          <div class="circle"></div>
          <div class="line"></div>        
        </div>
        <div class="experience-desc">
          <h3>Seed Breeder</h3>
          <div class="experience-info no-company">
            <h4>September 2011 – December 2017</h4>
          </div>
          <ul>
            <li>In my private grow space, I was selective breeding cannabis genetics.</li>
            <li>Using a stud of a Ghost OG Kush plant, I began sourcing any high end proven female cannabis strains I could find.</li>
            <li>The Sueno and 303 Headband are two recognizable cannabis genetics I developed in this period.</li>
            <li>I sold these seeds to numerous successful dispensaries in the Denver/Boulder area such as Olio, Higher Grade, Green Farms and Trill Alternatives.</li>
          </ul>
        </div>
      </article>
      <article>
        <div class="timeline">
          <div class="circle"></div>
          <div class="line"></div>        
        </div>
        <div class="experience-desc">
          <h3>Independent Extraction Artist</h3>
          <div class="experience-info no-company">
            <h4>June 2011 – October 2015</h4>
          </div>
          <ul>
            <li>Contracted by caregivers and early dispensaries, I made high end hydrocarbon and
water extractions, along with a small team that I managed.</li>
          </ul>
        </div>
      </article>
      <article>
        <div class="timeline">
          <div class="circle"></div>
          <div class="line"></div>        
        </div>
        <div class="experience-desc">
          <h3>Production & Sales Consultant</h3>
          <div class="experience-info">
            <h4>The Station</h4>
            <h4>July 2010 – January 2012</h4>
          </div>
          <ul>
            <li>I developed a very basic, low cost, high efficiency grow operation where I resourced a library of high-end cannabis genetics that allowed them to be competitive.</li>
            <li>Handled all the sales of the production from the facility.</li>
            <li>Managed the extraction program, while networking high end extraction people to make hydrocarbon products.</li>
          </ul>
        </div>
      </article>
      <article>
        <div class="timeline">
          <div class="circle"></div>
          <div class="line"></div>        
        </div>
        <div class="experience-desc">
          <h3>Owner/Operator</h3>
          <div class="experience-info">
            <h4>Grassroots Medical Clinic</h4>
            <h4>May 2009 – May 2010</h4>
          </div>
          <ul>
            <li>I started what was one of the first few doctor offices strictly focused on getting patients who qualified for medical cannabis their medical cards.</li>
            <li>This required creating a network of doctors that were sympathetic to the cause and bold enough to be on the front lines of this program.</li>
            <li>Developed and maintained relationships with outside businesses to create referrals.</li>
          </ul>
        </div>
      </article>
      <div class="downloads">
        <a class="resume-download" href="../public/resume.pdf" download="fallon-hanley-resume.pdf">
          <i class="fas fa-download"></i>
          Resume
        </a>
      </div>
    </section>
    <section class="company">
      <h2>Bonafide Seed Co.</h2>
      <p class="company-content">French press mug sweet plunger pot aroma, seasonal, shop crema irish extraction qui ut robusta robust. Robusta in trifecta et, aroma, iced flavour macchiato doppio café au lait, sit fair trade steamed percolator cream beans crema. Body, single origin shop rich mocha, dark, sit sugar organic cinnamon coffee strong caffeine caramelization chicory single origin coffee java. Kopi-luwak, coffee doppio filter, aftertaste grounds, rich extraction acerbic, flavour at, barista, plunger pot aged dark breve aromatic cultivar carajillo fair trade. Viennese americano shop carajillo decaffeinated flavour, shop caramelization, single origin half and half grinder percolator plunger pot..
      </p>
    </section>
    <section class="contact">
      <h2>Contact</h2>
      <div class="contact-content">
        <div class="contact-info">
          <article class="phone">
            <i class="fas fa-mobile-alt"></i>
            <p>(303) 564-2914</p>
          </article>
          <article class="email">
            <i class="fas fa-envelope"></i>
            <a href="mailto: fallon4208@gmail.com">fallon4208@gmail.com</a>
          </article>
          <article class="linked-in">
            <i class="fab fa-linkedin"></i>
            <a href="https://www.linkedin.com/in/fallon-hanley-113682161/" target="_blank">linkedin.com/in/fallon-hanley-113682161/</a>
          </article>
          <article class="location">
            <i class="fas fa-map-marker-alt"></i>
            <p>Louisville, Colorado, USA</p>
          </article>
        </div>
        <form id="contact-form">
          <div class="message-container"></div>
          <div class="field">
            <label for="contact-name">Your Name</label>
            <input type="text" name="contact-name" id="contact-name" >
            <div class="error-container"></div>
          </div>
          <div class="field">
            <label for="contact-email">Email Address</label>
            <input type="email" name="contact-email" id="contact-email" >
            <div class="error-container"></div>
          </div>
          <div class="field">
            <label for="contact-message">Message</label>
            <textarea name="contact-message" id="contact-message" ></textarea>
            <div class="error-container"></div>
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="submit" id="submit" value="Submit">
        </form>
        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
      </div>
    </section>
  </main>
  <script type="text/javascript" src="scripts.js"></script>
</body>
</html>