@import url('https://fonts.googleapis.com/css?family=Literata|Open+Sans&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, h1, footer {
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Literata', serif;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav li {
  cursor: default;
  margin: 0 10px;
  padding: 10px 20px;
}

main {
  color: #5B605E;
}

section {
  padding: 50px;
}

section h2 {
  margin-top: 0;
}

a {
  color: #5B605E;
  cursor: pointer;
  text-decoration: none;
}

form {
  width: 30%;
}

label {
  color: #5B605E;
  display: block;
  font-size: 14px;
}

input:not([type="submit"]),
textarea {
  background: transparent;
  border: 1px solid darkgrey;
  border-radius: 7px;
  color: #5B605E;
  font-size: 16px;
  margin: 5px 0 15px 0;
  outline: none;
  padding: 10px;
  width: 100%;
}

input:not([type="submit"]):focus,
textarea:focus {
  border-color: deepskyblue;
  transition: border-color 0.5s;
}

textarea {
  height: 200px;
  resize: none;
}

input[type="submit"] {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 30px;
  transition: box-shadow 0.5s;
  width: 100%;
}

input[type="submit"]:hover {
  box-shadow: 1px 1px 2px #666;
  transition: box-shadow 0.3s;
}

input[type="submit"]:disabled {
  background-color: #00000080;
  cursor: not-allowed;
}

.hero-image {
  background-image: url('https://images.unsplash.com/photo-1418743342338-5ee869c68e95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100%;
}

.intro {
  margin-left: 10px;
  padding: 10px;
}

.intro p {
  font-size: 18px;
  margin: 2px 0;
}

section.bio {
  background-color: #2e2f30;
  color: #979ca1;
}

section.bio h2 {
  border-bottom: 1px solid;
  left: 65%;
  padding-bottom: 5px;
  position: absolute;
}

.bio-content {
  align-items: center;
  display: flex;
  justify-content: center;
}

.bio-content > * {
  margin: 0 20px;
}

.bio-image {
  border-radius: 5px;
  box-shadow: 1px 1px 15px 1px #111111;
  width: 35%;
}

.bio-text {
  width: 50%;
}

section.experience {
  background-color: lightgrey;
  padding-bottom: 100px;
}

.experience article {
  display: flex;
  margin: auto ;
  margin-bottom: 30px;
  width: 40%;
}

.experience article > * {
  padding-left: 30px;
}

.experience article:last-child {
  margin-bottom: 0;
}

.experience .circle {
  border: 1px solid;
  border-radius: 50px;
  display: inline-block;
  height: 8px;
  margin-bottom: 5px;
  margin-top: 13px;
  padding: 0;
  position: relative;
  right: 3px;
  width: 8px;
}

.experience .line {
  border-left: 1px solid;
  height: 100%;
}

.experience article h3 {
  margin-bottom: 5px;
}

.experience article h3:first-child {
  margin-top: 0;
}

.experience-info {
  display: flex;
}

.experience-info h4 {
  margin: 0;
}

.experience-info h4:first-child {
  border-right: 1px solid black;
  margin-right: 10px;
  padding-right: 10px;
}

.contact-content {
  display: flex;
  justify-content: space-around;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
  padding: 20px;
}

.contact-info article {
  align-items: baseline;
  display: flex;
  flex-wrap: nowrap;
  margin: 10px 0;
}

.contact-info i {
  margin-right: 10px;
  width: 25px;
}

.contact-info p {
  margin: 0;
}

.focus {
  color: deepskyblue;
  transition: color 0.5s;
}

.error-container {
  align-items: center;
  color: red;
  display: flex;
  font-size: 12px;
}

.error-container > * {
  margin: -10px 5px 10px 0;
}

.invalid label {
  color: red;
}

.invalid input,
.invalid textarea {
  border-color: red !important;
}

.alert {
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 16px;
  padding: 15px 20px;
}

.alert p {
  margin: 0;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.alert-error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}
